<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/citas_db_it</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="modelos/UsuarioIntereses.hbm.xml"/>
    <mapping resource="modelos/UsuarioPersonalidades.hbm.xml"/>
    <mapping resource="modelos/Chats.hbm.xml"/>
    <mapping resource="modelos/Facultades.hbm.xml"/>
    <mapping resource="modelos/Personalidades.hbm.xml"/>
    <mapping resource="modelos/TarjetasDeCredito.hbm.xml"/>
    <mapping resource="modelos/Usuarios.hbm.xml"/>
    <mapping resource="modelos/Coincidencias.hbm.xml"/>
    <mapping resource="modelos/Intereses.hbm.xml"/>
    <mapping resource="modelos/Mensajes.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
