@font-face {
  font-family: RobotoCondensed;
  src: url(../FONTS/RobotoCondensed-Regular.ttf);
}

body{
    font-family: RobotoCondensed;
}

.btnRegistroP{
    background-color: #fec5bb !important;
    border-color: #fec5bb !important;
    color: black !important;
    font-size: 15pt !important;
}

.btnRegistroP:hover{
    background-color: #fae1dd !important;
    border-color: #fae1dd !important;
    color: black !important;
}

